<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Bienvenido!</h1>
                                </div>
                                <form class="user" [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
                                    <div *ngIf="errors?.error" class="alert alert-danger mt-3" role="alert">
                                      {{ errors?.error }}
                                    </div>
                                    <div class="form-group">
                                        <input type="email" formControlName="email" class="form-control form-control-user" aria-describedby="emailHelp" placeholder="Ingrese e-mail">
                                        <div class="text-danger" *ngIf="email?.errors?.['required'] && (email?.dirty || email?.touched)">
                                          <small>Campo requerido</small>
                                        </div>
                                        <div class="text-danger" *ngIf="email?.errors?.['email'] && (email?.dirty || email?.touched)">
                                          <small>Formato no valido</small>
                                        </div>
                                        <div *ngIf="errors?.email" class="text-danger">
                                          <small>{{ errors?.email }}</small>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" formControlName="password" class="form-control form-control-user" placeholder="Ingrese contraseña">
                                        <div class="text-danger" *ngIf="password?.errors?.['required'] && (password?.dirty || password?.touched)">
                                            <small>Campo requerido</small>
                                        </div>
                                        <div *ngIf="errors?.password" class="text-danger">
                                          <small>{{ errors?.password }}</small>
                                        </div>
                                    </div>
                                    <button type="submit" [disabled]="form.invalid" class="btn btn-primary btn-user btn-block">Iniciar sesion</button>
                                </form>
                                <hr>
                                <div class="text-center">
                                    <a class="small" routerLink="/registro">Registrarme!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
